@import "include.sass"

#game
  position: relative
  height: $boardHeight

#messages
  position: absolute
  top: $boardHeight / 2 + 36px - 50px
  left: 0
  width: $boardWidth
  height: 100px
  font-family: Syncopate, sans-serif

  p
    position: absolute
    top: 0
    width: $boardWidth
    text-align: center
    font-weight: bold
    font-size: 48px
    line-height: 50px
    color: white
    @include single-text-shadow(black, 0, 0, 5px)

#score
  position: absolute
  top: 0
  left: 0
  width: 164px
  height: 60px
  line-height: 60px
  text-align: center
  overflow: hidden
  color: white
  font-family: Marvel, sans-serif

  p
    position: absolute
    top: -60px
    left: 0
    width: 164px
    font-size: 26px
    letter-spacing: 1px
    @include single-text-shadow(black, 0, 0, 5px)

    strong
      @include opacity(0.5)

    span
      @include opacity(0.25)

    &.combo strong
      font-size: 36px
      @include opacity(0.5)
      font-family: Syncopate, sans-serif

#social, #actions
  position: absolute
  width: ($fullWidth - $boardWidth) / 2
  right: 0

  li
    @extend puyo-button
    margin-left: 5px
    display: inline
    float: right

    a
      width: ($fullWidth - $boardWidth) / 4 - 9px
      display: block
      padding: 20px 0
      text-align: center
      text-transform: uppercase

#social
  bottom: 4px

#actions
  top: 3px
