{% extends "GamzPuyoBundle::layout.html.twig" %}

{% block assets %}
    {{ parent() }}

    <link href="http://fonts.googleapis.com/css?family=Syncopate:700" rel="stylesheet" type="text/css">

    {% stylesheets filter="compass" output="media/css/game/index.css"
        "@GamzPuyoBundle/Resources/assets/styles/global.sass"
        "@GamzPuyoBundle/Resources/assets/styles/game.sass"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="/media/js/raphael.js"></script>

    {% javascripts filter="coffee" output="media/js/puyo.js"
        "@GamzPuyoBundle/Resources/assets/scripts/game.core.coffee"
        "@GamzPuyoBundle/Resources/assets/scripts/game.main.coffee"
        "@GamzPuyoBundle/Resources/assets/scripts/game.score.coffee"
        "@GamzPuyoBundle/Resources/assets/scripts/stage.engine.coffee"
        "@GamzPuyoBundle/Resources/assets/scripts/stage.board.coffee"
        "@GamzPuyoBundle/Resources/assets/scripts/stage.provider.coffee"
        "@GamzPuyoBundle/Resources/assets/scripts/sprite.abstract.coffee"
        "@GamzPuyoBundle/Resources/assets/scripts/sprite.backs.coffee"
        "@GamzPuyoBundle/Resources/assets/scripts/sprite.bubble.coffee"
        "@GamzPuyoBundle/Resources/assets/scripts/test.coffee"
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    <div id="game">
        <div id="paper"></div>
        <div id="score">
            <p class="points">
                <span>Points:</span>
                <strong>0</strong>
            </p>
            <p class="combo">
                <span>Combo:</span>
                <strong>0</strong>
            </p>
        </div>
        <div id="messages"></div>
    </div>

    <ul id="help">
        <li>It's like PuyoPuyo in JavaScript/SVG.</li>
        <li>Use keyboard arrows to move current bubble group.</li>
        <li>Up key make it rotate clockwise.</li>
        <li>Push return to make it fall.</li>
        <li>Push F5 to restart game.</li>
        <li>Make big combos to get big score.</li>
        <li>Report issues on <a href="https://github.com/gamz/GamzPuyoBundle">Github</a>.</li>
        <li>Feedback welcome on <a href="http://twitter.com/#!/scryptos">Twitter</a>.</li>
    </ul>
{% endblock %}
